.env
.DS_Store
.history/
*.env*
**/.DS_Store
**/__pycache__
*/.DS_Store
/other:bad
backups/
backups

# Python cache folders
*/__pycache__/
utils/**/*.py[cod]
utils/**/**/__pycache__/
utils/**/__pycache__/
**